ansicon==1.89.0
blessed==1.17.8
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
commonmark==0.9.1
idna==2.10
jinxed==1.0.0
keyring==21.2.1
lxml==4.6.2
measurement==3.2.0
mpmath==1.1.0
myfitnesspal==1.16.1
pprintpp==0.4.0
Pygments==2.6.1
python-dateutil==2.8.1
pywin32-ctypes==0.2.0
requests==2.24.0
rich==2.3.1
six==1.15.0
sympy==1.6.1
typing-extensions==3.7.4.2
urllib3==1.25.9
wcwidth==0.2.5
